rules:
	- Mamazu\DoctrinePerformance\Rules\DoctrineRepositoryRule
	- Mamazu\DoctrinePerformance\Rules\DoctrineQueryBuilderRule

services:
	-
		class: 'Mamazu\DoctrinePerformance\Helper\GetEntityFromClassName'
	-
		class: 'Mamazu\DoctrinePerformance\Services\EntityManagerLoader'
		arguments:
			path: %doctrine.objectManagerLoader%
	-
		class: 'Mamazu\DoctrinePerformance\Services\MetadataService'
		arguments:
			loader: '@Mamazu\DoctrinePerformance\Services\EntityManagerLoader'
	-
		class: 'Mamazu\DoctrinePerformance\Rules\DoctrineRepositoryRule'
		arguments:
			entityClassFinder: '@Mamazu\DoctrinePerformance\Helper\GetEntityFromClassName'
			metadataService: '@Mamazu\DoctrinePerformance\Services\MetadataService'
		tags: [ 'phpstan.rules.rule' ]
	-
		class: 'Mamazu\DoctrinePerformance\Rules\DoctrineQueryBuilderRule'
		arguments:
			entityClassFinder: '@Mamazu\DoctrinePerformance\Helper\GetEntityFromClassName'
			metadataService: '@Mamazu\DoctrinePerformance\Services\MetadataService'
		tags: [ 'phpstan.rules.rule' ]
