parameters:
	doctrine_performance:
		reportTooDynamic: false
		allowFindAllLike: false

parametersSchema:
	doctrine_performance: structure([
		reportTooDynamic: bool()
		allowFindAllLike: bool()
	])

rules:
	- Mamazu\DoctrinePerformance\Rules\NonIndexedColumnsRule

services:
	-
		class: 'Mamazu\DoctrinePerformance\Helper\GetEntityFromClassName'
	-
		class: 'Mamazu\DoctrinePerformance\Services\EntityManagerLoader'
		arguments:
			path: %doctrine.objectManagerLoader%
	-
		class: 'Mamazu\DoctrinePerformance\Services\MetadataService'
		arguments:
			loader: '@Mamazu\DoctrinePerformance\Services\EntityManagerLoader'
	-
		class: 'Mamazu\DoctrinePerformance\Collectors\DoctrineRepositoryCollector'
		arguments:
			entityClassFinder: '@Mamazu\DoctrinePerformance\Helper\GetEntityFromClassName'
			allowFindAllLike: %doctrine_performance.allowFindAllLike%
		tags: [ 'phpstan.collector' ]
	-
		class: 'Mamazu\DoctrinePerformance\Collectors\DoctrineQueryBuilderCollector'
		arguments:
			entityClassFinder: '@Mamazu\DoctrinePerformance\Helper\GetEntityFromClassName'
			reportTooDynamic: %doctrine_performance.reportTooDynamic%
		tags: [ 'phpstan.collector' ]
	-
		class: 'Mamazu\DoctrinePerformance\Rules\NonIndexedColumnsRule'
		tags: [ 'phpstan.rules.rule' ]
